SWData.cmd
SWData.h
SWData.tmc
SWData_col.tmc
DSDaqtbl.tmc
DSDaqdisp.cc
DSDaqdispoui.c
DSDaqdispoui.o
DSDaqdisp.o
DSDaqtblnc.tmc
DSDaqdispnc.cc
DSDaqdispncoui.c
DSDaqdispncoui.o
DSDaqdispnc.o
GCToFtbl.tmc
nXDStbl.tmc
sonictbl.tmc
UPStbl.tmc
GCToFdisp.cc
GCToFdispoui.c
GCToFdispoui.o
GCToFdisp.o
GCToFtblnc.tmc
nXDStblnc.tmc
sonictblnc.tmc
UPStblnc.tmc
GCToFdispnc.cc
GCToFdispncoui.c
GCToFdispncoui.o
GCToFdispnc.o
GCToFsws.tma
GCToFalgoa.tmc
GCToFalgo.cc
GCToFalgooui.c
GCToFalgooui.o
GCToFalgo.o
doit.dep
GCToFcmd.cc
GCToFcmd.dat
GCToFclt.o
GCToFcltoui.c
GCToFcltoui.o
GCToFcltnc.o
GCToFcltncoui.c
GCToFcltncoui.o
GCToFsrvr.o
GCToFsrvroui.c
GCToFsrvroui.o
GCToFcol.cc
GCToF.pcm
tm.dac
GCToFcoloui.c
GCToFcoloui.o
GCToFcol.o
dsdaq.o
GCToFengext.cdf
GCToFengextcdf.oui
GCToFengextcdf.tmc
GCToFengext.cc
GCToFengextoui.c
GCToFengextoui.o
GCToFengext.o
DSDaqtbl.tmc.dep
DSDaqtblnc.tmc.dep
GCToFtbl.tmc.dep
nXDStbl.tmc.dep
sonictbl.tmc.dep
UPStbl.tmc.dep
GCToFtblnc.tmc.dep
nXDStblnc.tmc.dep
sonictblnc.tmc.dep
UPStblnc.tmc.dep
*.err
DSDaqdisp
DSDaqdispnc
GCToFdisp
GCToFdispnc
GCToFalgo
doit
GCToFclt
GCToFcltnc
GCToFsrvr
GCToFcol
GCToFengext
